@import '/path/to/reset-css/reset.css';
.App {
  text-align: center;
}
#title {
  text-shadow: 2px 0 0 #fff, -2px 0 0 #fff, 0 2px 0 #fff, 0 -2px 0 #fff, 1px 1px #fff, -1px -1px 0 #fff, 1px -1px 0 #fff, -1px 1px 0 #fff;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.form .form-field{
  display: flex;
}
.form-field-amount{
  font-size: 1.2em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid grey;
  border-radius: 3px;
}
.form-field-to {
  font-size: 1.2em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid grey;
  border-radius: 3px;
}
.form-field-from {
  font-size: 1.2em;
  margin: 1em;
  padding: 0.25em 1em;
  border: 2px solid grey;
  border-radius: 3px;
}
ul {
  list-style-type: none;
}